# Auto
# .gitignore

# Config
.vscode/
.vsls.json

# controle
A codar*.txt

# Logs
CHANGELOG.md

# Frameworks
bootstrap/
jquery/
!typings/globals/jquery/

# dotenv environment variables file
.env
.env.bak

# --- Protótipo ---

# O que já não é mais usado, mas pode ser utíl
# Coisas_antigas/
# sem_mvc/

# Pasta para salvar credenciais
# logins_lembrar/

# Images (alteram fácil)
# img/

# Cache dos Testes
.phpunit*

# Model
# .model/
